.*.swp
vim/user.vim
vim/.netrwhist
vim/undo
vim/view
vim/pack/minpac/start
vim/pack/minpac/opt/minpac
vim/bundle
vim/autoload

# secure folder don't track
secure

# local backups
backup

# option venv
venv

# Old scripts
scripts/old