colors
autoload
tags
templates/personal.template


bundle/*
!bundle/nerdtree/

bundle/nerdtree/*
!bundle/nerdtree/nerdtree_plugin

bundle/nerdtree/nerdtree_plugin/*
!bundle/nerdtree/nerdtree_plugin/NerdTreeMappingFix.vim

